/* Basic reset - removes default spacing */
* {
    margin: 0;
    padding: 0;
}

/* Body - background and font */
body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-image: url(../images/crowdView.jpg);
    background-size: cover; /* stretches image to fill the header*/
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    padding: 10px;
}

header h1{
    color: white;
    text-shadow: 3px 3px 10px black; /*Horizontal, Vetical, Blur amount, Colour*/
}


a{
    color: limegreen; /*colour of the links*/
    text-decoration:underline ;
}

a:hover{
    color: white; /*makes the links go white when hovered over*/
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav a.active {
    background-color: #444;
    color: white;
    padding: 8px 12px;
}

/* Main content */
main {
    padding: 20px;
    padding-left: 40px ;
    display: flex;
    gap: 20px;
}

section {
    flex: 3;
}

aside{
    flex: 1;
    background-color: #333;
    padding: 15px;
    border: 1px solid #555;
}



aside{
    float: right;
    width: 250px;
    padding: 20px;
    background-color: grey;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 10px;
}

th, td {
    border: 1px solid white;
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #2d6a4f;
}

article {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #444;
    border-radius: 6px;
}

ol{
    padding: 15px;
}


footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}